li {
    margin-right: 40px;
}
.nav-link li {
    margin-right: 10px;
}

button {
    margin-right: 40px;
}


.nav-link{
    background-color: #F8F9FA;
    border: 0;
}

/* code for body portion */
body{
    background-image: linear-gradient(#55CBD3,#C7DAC7,#FFB68C,#FE8E7B,#FF6787)
}

.skilledge{
    font-size: 20vw;
    text-align: center;  
}

.imgResponsive{
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* #about p{
    font-size:20px;
} */


/* for the features portion */
.features,.theteam{
    text-align: center;
    font-size: 5vw;
}

.imgResponsive-features{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* this is for the team portion */
.subname, .info{
    text-align: center;
}


/* footer */








