body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html > body {
    background-color: #BC986A;
}

main {
    min-height: 100%;
    margin-bottom: 5rem;
    color: white;
}

main:after {
    content: "";
    display: block;
    height: 50px;
}

#header h1 {
    font-weight: bold;
}

.top-text {
    font-weight: bold;
}

#footer {
    position: fixed;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#659DBD;
    text-align: center;
    display: inline-block;
}

#header a, #footer a {
    color: white;
}

label.col-form-label, legend.col-form-label {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Button Stylers  */

button.form-btn {
    background-color: #8D8741;
    border: none;
    color: white;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: white;
}

#trip-form, #rock-routes {
    margin: 1rem 2rem;
}

.flex-container {
    display: flex;
}

#rock-routes {
    text-align: center;
    justify-content: space-around;
}

/* Navigation */
nav select {
    margin-top: 50px;
}

header.jumbotron {
    background-color: #659DBD;
}

.nav-item {
    padding: .5rem;
}

.nav-item a {
    border-radius: 8px;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu {
    display: none;
}

nav a {
    color: white;
    font-size: 1.2rem;
    margin-right: 1em;
    display: block;
    text-align: center;
}

nav li a {
    margin: 0;
}

#navbar-toggler {
    border-color: rgb(255,255,255,0);
}

.activeLink {
    border: 2px solid rgba(255,255,255,.4);
}

.jumbotron {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    background-color: #659DBD;
}

.jumbotron .display-3 {
    font-size: 2rem;
}

/* Form Sheet Stylers */

.form-group {
    margin-top: 50px;
}

label {
    font-size: 1.2rem;
}

#header-page-1 {
    text-align: center;
}

/* Hover Code  */

button:hover {
    background-color: #659DBD;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button a:hover {
    text-decoration: none;
    color: white;
}

.navbar-nav a:hover {
    background-color: #658400;
}

.nav-item *:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24);
}

.card {
    color: black;
    margin-bottom: 15%;
    list-style-type: none;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card-body .row {
    margin-bottom: .5rem;
}

.card button {
    margin-top: 2rem;
}

.no-image-route {
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.plan-route-btn {
    background-color: rgb(149, 183, 0);
    border-color: rgba(97, 119, 0, .5);
}

.cancel-route-btn {
    background-color: rgb(183, 54, 0);
    background-color: rgb(198, 140, 53);
    border-color: rgba(122, 87, 34, .5);
}

.user-login {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* Media Modifiers */

@media (min-width: 598px) {
    .jumbotron .display-3 {
        font-size: 2.5rem;
    }
    
    #trip-form, #rock-routes {
        margin: 3rem 4rem;
    }
}

@media (min-width: 768px) {
    nav select { 
        display: none; 
    }

    main {
        text-align: left;
    }
    
    body {
        background: url('imgs/climbingBackground2.jpg') no-repeat center fixed;
        background-size: cover;
    }

    .flex-container {
        align-items: baseline;
    }

    .jumbotron .display-3 {
        font-size: 3rem;
    }

    #menu {
        display: flex;
        padding-top: 75px;
    }
}

@media (min-width: 992px) {
    .jumbotron .display-3 {
        font-size: 4rem;
    }

    #rock-routes h2{
        text-align: left;
    }
}

@media (min-width: 500px) {
    #homePageDiv p {
        font-size: 18pt;
    }
}

@media (max-width: 500px) {
    #homePageDiv h1 {
        font-size: 24pt;
    }
    #buttonContainer {
        text-align:center;
     }
}
