body {
    background-color: #BC986A;
    color: white;
}

main {
    min-height: 100%;
    margin-bottom: -50px;
}

main:after {
    content: "";
    display: block;
    height: 50px;
}

footer {
    margin: 25px 10px;
    font-size: 0.8em;
}

/* Button Stylers  */

button {
    background-color: #8D8741;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 25px 0px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: white;
}

.top-text {
    margin: 25px 50px;
}

h1 {
    font-size: 1rem;
}

.flex-container {
    display: flex;
}

#rockRoutes {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#rockRoutes h1, #rockRoutes p {
    text-align: center;
}

/* Navigation */
nav select {
    margin-top: 50px;
}

header {
    background-color: #659DBD;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

#menu {
    display: none;
}

nav a {
    color: white;
    font-size: 1.5rem;
    margin-right: 1em;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.jumbotron {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    background-color: #659DBD;
}

.jumbotron .display-3 {
    font-size: 2rem;
}

/* Footer Style */

.footer {
    position: fixed;
    max-height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#659DBD;
    color: white;
    text-align: center;
    display: inline-block;
}

/* Form Sheet Stylers */

.form-group {
    margin-top: 50px;
}

form {
    margin: 25px 50px;
}

label {
    font-size: 1rem;
}

#header-page-1 {
    text-align: center;
}

/* Hover Code  */

button:hover {
    background-color: #659DBD;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button a:hover {
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #8D8741;
    text-decoration: none;
    color: white;
}

/* Media Modifiers */

@media (min-width: 598px) {
    h1 {
        margin: 25px 50px;
        font-size: 1.75rem;
    }
    
    label {
        font-size: 0.75rem;
    }
    
    .jumbotron .display-3 {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    nav select { 
        display: none; 
    }

    main {
        text-align: left;
    }
    
    body {
        background-image: url('../imgs/climbingBackground2.jpg');
        background-position: center;
        background-size: cover;
    }

    label {
        font-size: 1.25rem;
    }

    h1 {
        margin: 25px 50px;
        font-size: 1.75rem;
    }

    .flex-container {
        display: flex;
        align-items: baseline;
    }

    .jumbotron .display-3 {
        font-size: 3rem;
    }

    #menu {
        display: flex;
        padding-top: 75px;
    }
}

@media (min-width: 992px) {
    .jumbotron .display-3 {
        font-size: 4rem;
    }

    #rockRoutes {
        text-align: left;
    }

    #rockRoutes h1, #rockRoutes p {
        text-align: left;
        margin-left: 25px;
    }

    #rockRoutes button {
        margin-left: 25px;
    }
}
