main {
  margin: 2em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hidden {
  display: none;
}


main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: hidden;
}
#theButtons {
  margin: 3% 6% 3% 6%;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  flex: 0 0 80%;
}

