main {
  margin: 2em;
}

.hidden {
  display: none;
}

main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: hidden;
}

.processBox {
  margin-left: 25%;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  flex: 0 0 50%;
}

.processNavContainer {
  text-align: center;
}