
#login-form {
  margin: auto auto;
  margin-top: 5em;
  width: 80%;
  box-shadow: 0 6px 10px #DDDDDD;
  border-radius: 5px;
  padding: 1.5em; 
}

#create-account {
  display: block;
  margin-top: 1em;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  #login-form {
    width: 60%;
  }  
}