.hidden {
  display: none;
}

#main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: hidden;
  margin-top: 2em;
}

.processBox {
  margin-left: 10%;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  flex: 0 0 80%;
}

.processNavContainer {
  text-align: center;
}

.scheduleHabitHeader {
  display: block; 
  margin: 0 auto; 
  text-align: center;
}

#periodInput {
  margin-left: .5rem;
}